<!DOCTYPE html>
<html>
<head>
  <title>Quản lý hợp đồng</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div>
    <a href="/" class="btn btn-primary ml-3">Home</a>  
    <a href="/hopdongs/add" class="btn btn-secondary ml-3">Tạo hợp đồng</a> 
    <a href="/hopdongs" class="btn btn-info ml-3">Danh sách hợp đồng</a>
</div>    

  

<br>
  <table class="table">
<thead>

  <tr>
    <th scope="col">#</th>
    <th scope="col">ID hop dong</th>
    <th scope="col">Loai hop dong</th>
    <th scope="col">ID can ho</th>
    <th scope="col">ID chu so huu</th>
    <th scope="col">Ngay hieu luc</th>
    <th scope="col">Thoi gian</th>

    <th scope="col">Trang thai</th>

    
    <th width="300px">Action</th>
 
  </tr>
</thead>
<tbody>
  <% if(data.length){
 
  for(var i = 0; i< data.length; i++) {%>  
  <tr>
    <th scope="row"><%= (i+1) %></th>
    <td><%=data[i].IDHopDong%></td>
    <td><%= data[i].TenHopDong%></td>
    <td><%= data[i].IDCanHo%></td>
    <td><%= data[i].IDCuDan%></td>
    <td><%= data[i].NgayHieuLuc%></td>
    <td><%= data[i].ThoiGian%></td>

    <td><%=data[i].TrangThai%></td>
    <td>
    <a class="btn btn-success edit" href="../hopdongs/edit/<%=data[i].IDHopDong%>">Thanh lý</a>                       
    <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../hopdongs/delete/<%=data[i].IDHopDong%>">Delete</a>
    <!-- <a class="btn btn-primary" href="../hopdongs/thanhly/<%=data[i].IDHopDong%>">Thanh lý</a>                        -->
   </td>
  </tr>
  <% }
           
   }else{ %>
       <tr>
          <td colspan="3">Chưa có thông tin</td>
       </tr>
    <% } %>    
  
</tbody>
</table>
</body>
</html>