<!DOCTYPE html>
<html>
<head>
  <title>Quản lý căn hộ</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h2>Sửa thông tin căn hộ <%=IDCanHo%></h2>
<form action="/canhos/update/<%= IDCanHo %>" method="post" name="form1">

<div class="form-group">
    <label for="">Số phòng</label>
    <input type="text" class="form-control" name="SoPhong" id="SoPhong" value="<%= SoPhong %>" placeholder="Nhập số phòng của căn hộ">
  </div>
  <div class="form-group">
    <label for="">Số Tầng</label>
    <input type="text" name="SoTang" class="form-control" id="SoTang" value="<%= SoTang %>" placeholder="Nhập số tầng của căn hộ" >
  </div>
  <div class="form-group">
      <label for="">Tòa nhà</label>
      <input type="text" class="form-control" name="ToaNha" id="ToaNha" value="<%= ToaNha %>" placeholder="Nhập tên tòa nhà">
  </div>
  <div class="form-group">
      <label for="">Loại căn hộ</label>
      <input type="text" class="form-control" name="LoaiCanHo" id="LoaiCanHo" value="<%= LoaiCanHo %>" placeholder="Nhập loại căn hộ">
  </div>
  
 
<button type="submit" class="btn btn-info">Update</button>
</form>
</body>
</html>